<header class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-2">
                <div class="header-logo-wrap">
                    <!-- Logo -->
                    <a href="./">
                        <img
                            src="./img/img-logo.svg"
                            alt=""
                            class="logo d-lg-none"
                        />
                    </a>
                    <label>
                        <i
                            class="d-none d-lg-block menu-icon fa-solid fa-bars"
                        ></i>
                        <input type="checkbox" name="" id="" hidden />
                    </label>
                </div>
            </div>

            <!-- Navigation -->
            <div class="col-6 offset-1">
                <nav>
                    <ul class="nav d-lg-none">
                        <li>
                            <a href="./index.html">Home</a>
                            <i
                                class="chevron-down-icon fa-solid fa-chevron-down"
                            ></i>
                        </li>
                        <li>
                            <a href="./about.html">About</a>
                            <i
                                class="chevron-down-icon fa-solid fa-chevron-down"
                            ></i>
                        </li>
                        <li>
                            <a href="./practice.html">Practice Areas</a>
                            <i
                                class="chevron-down-icon fa-solid fa-chevron-down"
                            ></i>
                            <ul class="sub-nav">
                                <li>
                                    <a href="#!">Divorce</a>
                                </li>
                                <li>
                                    <a href="#!">Personal Injury</a>
                                    <i
                                        class="chevron-right-icon fa-solid fa-chevron-right"
                                    ></i>
                                </li>
                                <li>
                                    <a href="#!">Employment</a>
                                    <i
                                        class="chevron-right-icon fa-solid fa-chevron-right"
                                    ></i>
                                </li>
                                <li>
                                    <a href="#!">Immigration</a>
                                    <i
                                        class="chevron-right-icon fa-solid fa-chevron-right"
                                    ></i>
                                </li>
                                <li>
                                    <a href="#!">Family</a>
                                    <i
                                        class="chevron-right-icon fa-solid fa-chevron-right"
                                    ></i>
                                </li>
                                <li>
                                    <a href="#!">Property</a>
                                    <i
                                        class="chevron-right-icon fa-solid fa-chevron-right"
                                    ></i>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!">Attorneys</a>
                        </li>
                        <li>
                            <a href="./page.html">Page</a>
                            <i
                                class="chevron-down-icon fa-solid fa-chevron-down"
                            ></i>
                            <ul class="sub-nav">
                                <li>
                                    <a href="./blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="./contact.html">Contact</a>
                                </li>
                                <li>
                                    <a href="#!">FAQ</a>
                                </li>
                                <li>
                                    <a href="#!">404</a>
                                </li>
                                <li>
                                    <a href="#!">Coming Soon</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Header phone -->
            <div class="col-3 col-lg-4 offset-lg-5 col-md-5">
                <div class="header-phone justify-content-end">
                    <span>Call :</span>
                    <span>(000) 123 456 789</span>
                </div>
            </div>
        </div>
    </div>
</header>
