<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <div class="wrapper" style="height: 1000px">
            <%- include("./partials/header.ejs") %>

            <main>
                <!-- Regular blog -->
                <section class="regular-blog pt-lg-5 pb-lg-5">
                    <div class="container">
                        <h1 class="title">Our Regular Blog</h1>
                        <p class="desc">
                            With our experience we are ready to help you create
                            a modern property with an easy step.
                        </p>
                        <div class="list">
                            <div
                                class="row g-3 row-cols-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1"
                            >
                                <!-- Item 1 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog_1.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 2 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog_2.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 3 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog_3.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 4 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-4.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 5-->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-5.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 6 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-6.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 7 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-7.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 8-->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-8.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 9 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-9.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 10 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-10.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 11 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-11.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 12 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-12.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 13 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-13.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 14 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-14.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 15 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-15.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                                <!-- Item 16 -->
                                <div class="col">
                                    <article class="item">
                                        <div class="thumb-wrap">
                                            <img
                                                src="./img/img-blog-16.png"
                                                alt=""
                                                class="thumb w-lg-100"
                                            />
                                        </div>
                                        <div class="body">
                                            <h3 class="title">
                                                Top 20 Effective Digital
                                                Marketing Tools to Help
                                            </h3>
                                            <span class="date"
                                                >July 27, 2021</span
                                            >
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="load-more-btn-wrap">
                            <a href="#!" class="btn">Load More</a>
                        </div>
                    </div>
                </section>
            </main>
            <%-include("./partials/footer.ejs") %>
        </div>
        <script type="module" src="./main.js"></script>
    </body>
</html>
