<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Practice</title>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <div class="wrapper">
            <!-- Header wrap -->
            <section class="header-wrap pb-lg-5">
                <!-- Header -->
                <%- include("./partials/header.ejs") %>

                <!-- Hero -->
                <div class="hero mt-lg-5">
                    <h1 class="title">Our Practice Areas to Serve You</h1>
                    <p class="desc">
                        Where every injury is personal. We are a different kind
                        of law firm. Let our small, passionate group of trial
                        lawyers fight for your rights!
                    </p>
                </div>
            </section>

            <main>
                <!-- services -->
                <section class="services">
                    <div class="container">
                        <h3 class="sub-title">#Services</h3>
                        <h2 class="title">Our Practice Areas</h2>
                        <p class="desc">
                            Our Law Office provides a professional experience
                            for all our clients, helping them navigate their
                            legal rights.
                        </p>
                        <div class="list">
                            <div
                                class="row gy-3 row-cols-3 row-cols-lg-2 row-cols-md-1"
                            >
                                <div class="col">
                                    <article class="item">
                                        <img
                                            src="./img/img-service-1.png"
                                            class="w-lg-100"
                                            alt=""
                                        />
                                        <a href="#!" class="info">
                                            Personal Injury Law
                                        </a>
                                    </article>
                                </div>
                                <div class="col">
                                    <article class="item">
                                        <img
                                            src="./img/img-service-2.png"
                                            alt=""
                                            class="w-lg-100"
                                        />
                                        <a href="#!" class="info">
                                            Employment Law
                                        </a>
                                    </article>
                                </div>
                                <div class="col">
                                    <article class="item">
                                        <img
                                            src="./img/img-service-3.png"
                                            alt=""
                                            class="w-lg-100"
                                        />
                                        <a href="#!" class="info">
                                            Immigration Law
                                        </a>
                                    </article>
                                </div>
                                <div class="col">
                                    <article class="item">
                                        <img
                                            src="./img/img-service-4.png"
                                            alt=""
                                            class="w-lg-100"
                                        />
                                        <a href="#!" class="info">
                                            Family Law
                                        </a>
                                    </article>
                                </div>
                                <div class="col">
                                    <article class="item">
                                        <img
                                            src="./img/img-service-5.png"
                                            alt=""
                                            class="w-lg-100"
                                        />
                                        <a href="#!" class="info">
                                            Divorce Law
                                        </a>
                                    </article>
                                </div>
                                <div class="col">
                                    <article class="item">
                                        <img
                                            src="./img/img-service-6.png"
                                            alt=""
                                            class="w-lg-100"
                                        />
                                        <a href="#!" class="info">
                                            Property Law
                                        </a>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="view-all-btn-wrap">
                            <a href="#!" class="btn view-all-btn">View All</a>
                        </div>
                    </div>
                </section>

                <!-- Cta -->
                <section class="cta">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 offset-3">
                                <div class="content">
                                    <h3 class="sub-title">#CTA</h3>
                                    <h2 class="title">Dealing With a Issue?</h2>
                                    <p class="desc">
                                        Where every injury is personal. We are a
                                        different kind of law firm. Let our
                                        small, passionate group of trial lawyers
                                        fight for your rights!
                                    </p>
                                    <a href="#!" class="btn"
                                        >Get a Consultations</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <%-include("./partials/footer.ejs") %>
        </div>
        <script type="module" src="./main.js"></script>
    </body>
</html>
