@use "./reset";

// layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/footer";

// Pages
@use "./pages/home";
@use "./pages/about";
@use "./pages/practice";
@use "./pages/blog";
@use "./pages/contact";

// Components
@use "./components/buttons";
@use "./components/forms";
@use "./components/course-item";

// Common
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #fd6038;
    --dark: #0e1412;
    --yellow-light: #f8ebc9;
    --grey: #586863;
    --font-heading: "Roboto Slab", serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: "Manrope", sans-serif;
}

button,
input,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}
